{% extends 'basic_app/base.html' %}

{% block body_block %}
  <div class="jumbotron">
    <h1>Please Login</h1>
    <form action="{% url 'basic_app:user_login' %}" method="POST">
      {% csrf_token %}

      <label for="user_name">User Name: </label>
      <input type="text" name="user_name" placeholder="user name"><br>

      <label for="user_pass">Password: </label>
      <input type="password" name="user_pass"><br>

      <input type="submit" class="btn btn-primary" value="Login">
    </form>
  </div>
{% endblock %}
