{% extends 'basic_app/base.html' %}
{% load staticfiles %}

{% block body_block %}
  <div class="jumbotron">
    {% if registered %}
      <h1>Thank you for your registration</h1>

    {% else %}
      <h1>Please fill out the registration form:</h1>
      <form enctype="multipart/form-data" method="POST">
        {{ user_form.as_p }}
        {{ user_profile_form.as_p }}
        {% csrf_token %}
        <input class="btn btn-primary" type="Submit" value="Register">
      </form>
    {% endif %}
  </div>
{% endblock %}
